<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScripturePal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>982867862ECBF6BF001DB555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>982867932ECBF6C2001DB555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9828679D2ECBF6C2001DB555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
